body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header img {
    width: 432px;
    border: 4px beige solid;
}

nav {
    display: flex;
    justify-content: space-around;
}

.head h1 {
    text-align: center
}
.main{
    background-color: beige;
}
.menu {
    background-color: grey;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    flex-direction:row;

}


.encabezado {
    
    background-color: #D9D9D9;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin:5px;
}
.team_members {
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
    display: flex;

}


.fotomiembro1 {
height: 125px;
width: 197x;
border-radius: 250px;
border-color: black;
border-style: solid;
border-width: 6px;
margin-right: 30px;
margin-left: 0px;
margin-bottom: 30px;

}
.fotomiembro2 {
    height: 125x;    
    width: 197px;
    border-radius: 250px;
    border-color: black;
    border-style: solid;
    border-width: 6px;
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 30px;    ;
    }

    .fotomiembro1 {
        height: 125px;
        width: 197px;
        border-radius: 250px;
        border-color: black;
        border-style: solid;
        border-width: 6px;
        margin-right: 30px;
        margin-left: 0px;
        margin-bottom: 30px;
        
        }