.head h1 {
    text-align: center
}
.contenedor_flex {
    background-color: beige;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    text-align: center;
    margin:5px;
}

.fotomiembro1 {
height: 200px;
width: 200px;
border-radius: 250px;
border-color: black;
border-style: solid;
border-width: 6px;
margin-right: 30px;
margin-left: 0px;
margin-bottom: 30px;

}
.fotomiembro2 {
    height: 200px;    
    width: 200px;
    border-radius: 250px;
    border-color: black;
    border-style: solid;
    border-width: 6px;
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 30px;    ;
    }

    .fotomiembro1 {
        height: 200px;
        width: 200px;
        border-radius: 250px;
        border-color: black;
        border-style: solid;
        border-width: 6px;
        margin-right: 30px;
        margin-left: 0px;
        margin-bottom: 30px;
        
        }